#urlsearchSnippet {
      width: 100%;
      height: 47px;
      //background-image: url(icons/topbg.png);
      //background-repeat: repeat-x;
      //background-position: top left;
      background-color: #646f85;
}

.tableMain {
      display: table;
      width: 100%; 
      height: 35px;     
}

.tableRow {
      display: table-row;
}

.tableCell {
      display: table-cell;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
}

#mainLayoutTable {
      padding: 4px 4px 4px 4px;
      height: 35px;
}

#inputboxl {
      background-image: url(icons/inputbox_left.png);
      background-repeat: no-repeat;
      background-position: top left;
      width:   8px;
      height: 35px;
}

#inputboxc {
      background-image: url(icons/inputbox_center.png);
      background-repeat: repeat-x;
      background-position: top left;
      //width:  22px;
      height: 35px;
}

#inputboxr {
      background-image: url(icons/inputbox_right.png);
      background-repeat: no-repeat;
      background-position: top left;
      width:   8px;
      height: 35px;
}

#textEntryCell {
      width: 100%;	
}

#urlBox {
		padding: 3px;
   	margin-left: 0px;
   	margin-top:  2px;
		position: absolute;   	
		width: 85%; 
		border: none;
		font-size: 23px;
		//background-color: #FFF8C6;
}

#urlBox:active {
		border: none;
}

#tristateBtnCell {
		//border: 1px solid red;
    width:  33px;
    height: 33px;
}

#PBar {
		//display: block;
    overflow: hidden;
    -moz-opacity: .55;
    opacity: .55;
    position: relative;
    height: 35px;
    background-color: #B0C4DE;
    padding-top: 0px;
		top: 0px;
		left: -8px;
   	-webkit-border-top-left-radius: 5px;
   	-webkit-border-bottom-left-radius: 5px;
   	-webkit-border-top-right-radius: 5px;
   	-webkit-border-bottom-right-radius: 5px;
}
