.ToolBar {
  height: 52px;
  background: transparent;
  //background: black;
}

/* CSS properties when not using table to layout */

.toolBarTable{
  width: 100%;
  border-collapse:collapse;
}

.toolBarHidden{ 
  visibility: visible;
 }

.toolBarBtnCell { 
  text-align: center;
  // border: 1px solid red;
  //  border-left: 1px solid #AAAAAA;
  //  border-right: 1px solid #BBBBBB;;
 }

.toolbarBtn{
  height: 40px;
  width: 40px;
  margin-top: 5px;  
  margin-bottom: 7px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}   

.btnBorder{   
  margin-top: 5px;  
  margin-bottom: 7px;
 }

/* Add extra buttons to rightmost, leftmost button to pad them */
.lastButton{
    margin-right: 12px;
}

.firstButton {
    margin-left: 12px;
}
