
.ContextMenu {font-family:Verdana;font-size:32px;color:#222;background-color:transparent}
a.ContextMenu {color:#ccc;text-decoration:none;}
a.ContextMenu:hover {color:#ccc;text-decoration:none}

#tabMenu {margin-left:1px;padding:0 0 0 0px;list-style:none;}
#tabMenu li {
    float:left;
    height:20px;
    width:44px;
    cursor:pointer;
    cursor:hand;
    text-align: center;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border: 1px solid #000;
    border-bottom: 0px;
    margin-left: -1px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 1px; 
    background-color: #555;
    color: #eee;
}

#tabMenu li.mouseover {}
#tabMenu li.mouseout {}
#tabMenu li.selected {background-color: #ddd; color: #222}

.box {width:193px}
.boxTop {height:0px;clear:both}
.boxBody {background-color:#eee;}
.boxBottom {height:0px;}

.boxBody div {display:none;}
.boxBody div.show {display:block;}

.boxBody div ul {
    margin:0 0px 0 0px;
    padding:0;
    list-style: none;
    border-bottom: 1px solid #222; 
    border-left: 1px solid #222; 
    border-right: 1px solid #222; 
    background: -webkit-gradient(linear, left top, left bottom,
      color-stop(0%,#445b7c),
      color-stop(100%,#303f57));
    color:#fff;
    text-align: center;
}
*html .boxBody div ul {margin-left:10px;padding-left:15px}
.boxBody div li {border-top:1px solid #222; margin: 0px; padding:4px 0;cursor:hand;cursor:pointer;}
.boxBody div ul li.last {border-bottom:none;}