/******* css for suggestions dialog *******/

body {
  /*margins & paddings*/
  padding: 0px;
  margin: 0px;
  /*font specification*/
  font-family: "Series 60 Sans", "Nokia Sans S60", sans-serif;}

/* for fixed position images such as topshadow.png */
img.floatImg {
  /*dimensions*/
  position: fixed;
  left: 0px;
  width: 100%;}

/* the topshadow image goes at top of list behind the text */
img#TopShadowImgId {
  /*dimensions*/
  top: 0px;
  height: 20px;
  /*misc*/
  z-index: 0;}

#PageBorderId {
  /*dimensions*/
  position: fixed;
  /*margins & paddings*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-left: 2px #000000 solid;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
  background-color: white;
  /*misc*/
  z-index: -1;
  /*webkit*/
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-user-select: none;}

#PageBottomShadowId {
  /*dimensions*/
  position: fixed;
  /*margins & paddings*/
  left: 2px;
  right: 2px;
  bottom: 2px;
  height: 23px;
  background-image: url(/suggests/bottomshadow.png);
  background-repeat: repeat-x;
  /*misc*/
  z-index: -1;
  /*webkit*/
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;}

/* make sure content apears over images */
#SuggestsId {
  /*dimensions*/
  position: relative;
  /*misc*/
  z-index: 2;}

.SuggestView {
  /*dimensions*/
  height: 100%;
  /*misc*/
  overflow-y: hidden;}

ul#suggestUlId {
  /*margins & paddings*/
  margin: 0;
  padding: 0;
  /*decorations*/
  list-style-type: none;}

ul#suggestUlId a {
  /*decorations*/
  text-decoration: none;
  /*misc*/
  display: block;}

span.aTitle {
  /*decorations*/
  color: black;
  /*font specification*/
  font-size: 20px;}

span.aUrl {
  /*decorations*/
  color: #666666;
  /*font specification*/
  font-size: 16px;}

ul#suggestUlId li#searchLiId>a {
  /*dimensions*/
  /* between padding and height, total height is 70px */
  /* if total height changes, change elementHeight in _setMaxHeight() */
  /* top, right, bottom, and left padding */
  height: 47px;
  /*margins & paddings*/
  padding: 15px 10px 8px 10px;
  /*misc*/
  display: block;
  overflow: hidden;
  white-space: pre;
  z-index: 3;
  /*webkit*/
  -webkit-user-select: none;}

ul#suggestUlId li#suggestsLiId>a {
  /*dimensions*/
  /* between padding and height, total height is 70px */
  /* if total height changes, change elementHeight in _setMaxHeight() */
  /* top, right, bottom, and left padding */
  height: 54px;
  /*margins & paddings*/
  padding: 8px 10px 8px 10px;
  /*decorations*/
  background-image: url(/suggests/divider.png);
  background-repeat: repeat-x;
  /*misc*/
  display: block;
  overflow: hidden;
  white-space: pre;
  z-index: 3;
  /*webkit*/
  -webkit-user-select: none;}

/* truncate long titles and URLs with ellipsis */
.SuggestView div.SuggestElement {
  /*misc*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
