/* place overall style hooks here */

/* Make chrome items appear to be non-selectable */
::selection {
  /*decorations*/
  background: transparent;
  color: inherit;}

body {
  /*margins & paddings*/
  margin: 0px;
  /*webkit*/
  -webkit-user-select: none;
  /*font specification*/
  font-family: "Series 60 Sans", "Nokia Sans S60", sans-serif;}

#StatusBarChromeId {
  /*dimensions*/
  height: 26px;}

#UrlSearchChromeId, 
#TitleUrlId {
  /*dimensions*/
  height: 46px;
  padding-top: 3px; 
  border-top-width: 0px; 
  /*decorations*/
  border-top-color: #646f85;
  border-bottom-color: #b0c4de;
  color:black; 
  background-color: white;}

#WindowCountBarId {
  /*dimensions*/
  height: 26px;}

/* White-washed overlay. */
#ShadingOverlayId {
  /*dimensions*/
  position: absolute;
  width: 100%;
  height: 100%;
  /*margins & paddings*/
  left: 0;
  right: 0;
  top: 0;
  /*decorations*/
  background-color: #fff;
  opacity: 0.7;
  /*misc*/
  overflow: hidden;
  z-index: -10;
  display: block;}

/* Toolbar CSS */
#WebViewToolbarId, 
#WindowViewToolbarId, 
#RecentUrlViewToolbarId, 
#BookmarkViewToolbarId, 
#SettingsViewToolbarId {
  /*dimensions*/
  height: 58px;
  width: 100%;
  /*margins & paddings*/
  padding-top: 4px;
  border-top-width: 3px;
  /*decorations*/
  border-style: solid; /* Need to specify border-style for width to have effect*/
  border-top-color: #2A3447;}

.ButtonSnippet {
  /*dimensions*/
  height: 58px;
  width: 58px;}
